html {
    background-color : grey;
    margin : auto;
}

form {
    background-color : white;
    display : inline-block;
}

div {
    margin : 10px;
}

.centrage {
    text-align: center;
}

label {
    width: 200px;
    text-align: left;
    display: block;
    float: left;
}