html {
    background-color : grey;
    margin : auto;
}

form {
    background-color : white;
    display : inline-block;
}

div {
    margin : 10px;
}

.centrage {
    text-align: center;
}

label {
    width: 200px;
    text-align: left;
    display: block;
    float: left;
}

#info {
	display: none;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    margin: 10px;
    padding: 5px;
	max-width:20%
}

.good {
	color:green;
}

.bad {
	color:red;
}